estilos-Login.css
body {
    background-color: rgb(238, 227, 82);
}



header h2 {
    text-align: center;
    padding: 20px;
    font-style: italic;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 20px;
    flex-wrap: wrap;
}

nav ul li a {
    color: rgb(75, 8, 233);
    text-decoration: none;
    font-weight: 600;
    padding: 10px 18px;
    border-radius: 30px;
    transition: background 0.3s ease, transform 0.2s ease;
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: translateY(-3px);
}



form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    margin: 10px auto;
    padding: 20px;
    background-color: rgb(67, 67, 90);
    box-shadow: 0 0 15px rgba(0,0,0.1);
    
}

form input {
    width: 100%;
    padding: 14px 20px;
    margin-bottom: 15px;
    border: none;
    box-sizing: border-box;
}

input::placeholder {
  color: #0d2fc5;
  font-style: italic;
}

input[type="submit"]:hover {
  background-color: #45a049;
}


  .btn{
    background-color: azure;
    border: 1px solid #e53854;
    cursor: crosshair;
  } 

  footer {
    width: 100%;
    padding: 10px;
    position: relative;
    bottom: 0;
    display: grid;
    align-items: center;
    text-align: center;
    background-color: #e0d9d9;
    font-size: 13px;
    border-top: 1 px solid #e0d9d9;
    font-weight: bold;
  }
